.footer {
    display: flex;
    align-items: center;
    background: var(--gradient);
    height: 75px;
    margin-top: auto;
}

.footer__link {
    display: block;
    text-decoration: none;
    color: var(--font-color-light);
    font-size: var(--desktop-h2-size);
    font-weight: var(--font-weight-subheading);
    margin: 0 20px;
}

.footer__link:hover {
    text-decoration: underline;
}
