.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--gradient);
    color: var(--font-color-light);
}

.logo {
    font-size: var(--desktop-h1-size);
    font-weight: var(--font-weight-heading);
}
