.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    background: var(--gradient);
    color: var(--font-color-light);
}

.logo {
    font-size: var(--desktop-logo-size);
    font-weight: var(--font-weight-heading);
}

@media screen and (max-width: 800px) {
    /* Responsive styling for mobile screens */
    .header {
        flex-direction: column;
        height: fit-content;
    }

    .logo {
        font-size: var(--mobile-logo-size);
        margin-bottom: 0px;
    }
}
