.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.search-type {
    display: block;
    width: 20%;
    height: 50px;
    background: var(--gradient);
    border: none;
    border-radius: 5px;

    font-family: var(--font-family);
    font-size: var(--desktop-body-size);
    color: var(--font-color-light);
}

.search-bar {
    width: 75%;
    height: 50px;
    padding: 10px;
    font-family: var(--font-family);
    font-size: var(--desktop-body-size);
    border: 1px solid var(--color-accent);
    border-radius: 5px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.project-card {
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 300px;
    margin: 10px;
    border-top: 10px solid var(--color-accent);
    border-radius: 15px;
    box-shadow: var(--main-card-shadow);
}

.project-card:hover {
    width: 31%;
    height: 310px;
    transition-duration: 0.2s;
}

.project-card__name {
    font-size: var(--desktop-h2-size);
    font-weight: var(--font-weight-subheading);
    color: var(--font-color-dark);
    text-align: center;
}

.project-card__description {
    font-size: var(--desktop-body-size);
    font-weight: var(--font-weight-body);
    color: var(--font-color-dark);
    width: 95%;
    text-align: center;
}

.project-card__link-container {
    margin-top: auto;
    width: 100%;
}

.project-card__link {
    display: block;
    width: 95%;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    color: var(--font-color-light);
    font-size: var(--desktop-h3-size);
    font-weight: var(--font-weight-subheading);

    background: var(--gradient);
    border: 1px solid var(--color-accent);
    border-radius: 5px;
}

.project-card__link:hover {
    text-decoration: underline;
}
